parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'

    App\Service\AppMailer:
        arguments:
            $dsn: '%env(MAILER_DSN)%'
